.button__circle {
    position: absolute;
    left: 2.5%;
    top: 2.4%;
    width: 94.5%;
    height: 94.5%;
    border-radius: 50%;
    border: 1px solid #11b5a8;
    opacity: 0;
    transition: 0.2s;
}