.body-background {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-image: url(../uploads/bg1.png);
    background-size: cover;
    transition-property: background-image;
    transition-delay: 0.5s;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

@import "./_mob-bg/body-background_mob-bg.scss";
@import "./_main-bg/body-background_main-bg.scss";