.mob-button__arrow {
    width: 5.3vw;
    height: 5.2vw;
    margin-top: 1%;
    margin-right: -0.9%;
    position: relative;
    transition-duration: 0.5s;

    &::before {
        content: '';
        position: absolute;
        width: 3.6vw;
        height: 0.377vw;
        background-color: #8a8984;
        top: 42%;
        transform: rotate(-45deg);
    }

    &::after {
        content: '';
        position: absolute;
        width: 3.8vw;
        height: 0.377vw;
        background-color: #8a8984;
        left: 0;
        transform: rotate(45deg);
        top: 40%;
    }
}