button {
    &:active, &:focus {
        outline: none;
    }
}

.button {
    position: relative;
    width: 19vw;
    height: 19vw;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: none;
    

    &:hover {
        cursor: pointer;
        
        .button__circle {
            opacity: 1;
        }
    }

    &:active {
        .button__circle {
            display: none;
        }
    }
}

@import "./__circle/button__circle.scss";
@import "./__image/button__image.scss";
@import "./__text/button__text.scss";
@import "./_animate/button_animate.scss";