button {
    &:active, &:focus {
        outline: none;
    }
}

.button {
    position: relative;
    width: 19vw;
    height: 19vw;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: none;

    &:before {
        content: "";
        position: absolute;
        left: 2.5%;
        top: 2.4%;
        width: 94.5%;
        height: 94.5%;
        border-radius: 50%;
        border: 1px solid #11b5a8;
        opacity: 0;
        transition: 0.2s;
    }
    

    &:hover {
        cursor: pointer;
        
        &:before {
            opacity: 1;            
        }
    }

    &:active {
        &:before {
            content: "";
            display: none;
        }
    }
}

@import "./__image/button__image.scss";
@import "./__text/button__text.scss";