<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title testVasinyukGO
        link(rel="stylesheet", href="../scss/main.scss")
    body
        header
            .container
                .container.container_title
                    h1.title Выберите способ заработка
                .container.container_mainButtons
                    button.button
                        img(src="../img/iconTrade.png", alt="иконка: монитор с графиком").button__image                        
                        .button__text Торговать
                    button.button
                        img(src="../img/iconInvest.png", alt="иконка: портфель").button__image.button__image_case
                        .button__text.button__text_invest Инвестировать
                    button.button
                        img(src="../img/iconAttract.png", alt="иконка: человек с компьютером").button__image.button__image_man
                        .button__text.button__text_attract Привлекать инвесторов