<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title testVasinyukGO
        link(rel="stylesheet", href="../scss/main.scss")
    body
        .body-background
        
            header
                .header-container
                    .container
                        .container__title
                            h1.title Выберите способ заработка
                        .container__headerButtons
                            button.button
                                .button__circle
                                img(src="../img/iconTrade.png", alt="иконка: монитор с графиком").button__image                        
                                .button__text Торговать
                            button.button
                                .button__circle
                                img(src="../img/iconInvest.png", alt="иконка: портфель").button__image.button__image_case
                                .button__text.button__text_invest Инвестировать
                            button.button
                                .button__circle
                                img(src="../img/iconAttract.png", alt="иконка: человек с компьютером").button__image.button__image_man
                                .button__text.button__text_attract Привлекать инвесторов

            main
                .main-container
                    .main-nav
                        .main-nav__container
                            button.main-nav__button.main-nav__button_active Торговать
                            button.main-nav__button Инвестировать
                            button.main-nav__button Привлекать инвесторов
                    .container
                        .container__article
                            article.article
                                p.article__text 
                                    | Если вы ищете пассивный доход и предпочитаете, чтобы деньги для
                                    | вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ.
                                    | ЛАММ - это сервис копирования сделок успешных трейдеров. Доходность ничем не ограничена!
                                h2.article__head 
                                    | Как это работает
                                ul.article__list.article__list_fourthItemCorrected
                                    li Вы выбираете управляющего из рейтинга по фильтру Options
                                    li Подключаете свой счет к счету Управляющего
                                    li На вашем счете начинается копирование сделок
                                    li Обратите внимание, что вы не перечисляете свои деньги управляющему. Все ваши средства остаются на Вашем счете.
                                    li Вы можете подключиться к нескольким Управляющим одновременно.
                                    li Вы можете отключиться от Управляющих в любой момент.
                                .container__article-button
                                    a(href="#").article__continue-button Открыть счет
                            article.article
                                h2.article__head Контент отсутствует
                            article.article
                                h2.article__head Контент отсутствует

    script(src="../js/main.js")