.button_animate {
    transition-property: background-color;
    transition-delay: 0.2s;
    transition-duration: 0.6s;    
    transition-timing-function: linear;
    background-color: rgba(255, 255, 255, 0);

    .button__image {
        transition-property: opacity;
        transition-delay: 0.3s;
        transition-duration: 0.4s;    
        transition-timing-function: linear;
        opacity: 0;
    }

    .button__circle {
        border: none;
    }

    .button__text {
        transition-property: opacity;
        transition-delay: 0.9s;
        transition-duration: 0.1s;    
        transition-timing-function: linear;
        opacity: 0;
    }
}

