.container {
    width: 63.7%;
    margin: auto;
    transition-property: transform;
    transition-duration: 1.5s;    
    transition-timing-function: linear;
}

@import "./__title/container__title.scss";
@import "./__headerButtons/container__headerButtons.scss";
@import "./__article/container__article.scss";
@import "./__article-button/container__article-button.scss";
@import "./_animate/container_animate.scss";