.container {
    width: 63.7%;
    height: 80%;
    margin: auto;
}

@import "./_title/container_title.scss";
@import "./_headerButtons/container_headerButtons.scss";
@import "./__article/container__article.scss";
@import "./__article-button/container__article-button.scss";