.mob-article {
    padding-left: 3.1%;
    margin-top: 20px;
    display: none;
}

@import "./__text/mob-article__text.scss";
@import "./__head/mob-article__head.scss";
@import "./__list/mob-article__list.scss";
@import "./__button/mob-article__button.scss";
@import "./__image/mob-article__image.scss";