body {
    margin: 0;
}

@media (max-width: 1024px) {
    .mobile {
        display: block;
    }
    
    .desktop {
        display: none;
    }
}

@media (min-width: 1025px) {
    .mobile {
        display: none;
    }
    
    .desktop {
        display: block;
    }
}


@import "../mobile/mobile.scss";

@import "../common.blocks/body-background/body-background.scss";
@import "../common.blocks/header-container/header-container.scss";
@import "../common.blocks/main-container/main-container.scss";
@import "../common.blocks/container/container.scss";
@import "../common.blocks/title/title.scss";
@import "../common.blocks/button/button.scss";
@import "../common.blocks/main-nav/main-nav.scss";
@import "../common.blocks/article/article.scss";