button {
    &:active, &:focus {
        outline: none;
    }
}

.main-nav__button {
    border: none;
    background: none;
    width: 28.1%;
    margin-bottom: -1.3px;
    font-size: 1.4vw;
    padding-left: 1%;
    padding-top: 0.1%;
    
    &:last-child {
        margin-right: 2.8%;
    }
    &:nth-child(2) {
        margin-right: -0.9%;
    }

    &:hover {
        cursor: pointer;
        border-bottom: 3px solid #7ac6b8;
        color: #3eb499;
    }

    &:active {
        border-bottom: none;
        color: #565654;
    }
}

@import "./_active/main-nav__button_active.scss";